body { 
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
  color: white;
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #e5725b;
}
#main-image {
  width: 100%;
}
#title-text {
  font-size: 48px;
  font-weight: 600;
}
#main-text-wrapper {
  background: rgba(255, 255, 255, 0.75);
  height: 130px;
  width: 100%;
  z-index: 1;
  position: absolute;
  margin-top: -20%;
}
#main-text {
  padding-top: 35px;
  margin-left: 35%;
}
#bottom-wrapper {
  background: #031F31;
  height: 150px;
}
.icon-image {
  height: 80px;
}
.info {
  float: left;
  height: 300px;
  width: 20%;
  padding: 20px;
}
.underline {
    text-decoration: underline;
    color: #e5725b;
    text-underline-width: 100%;
}
#main-content-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  height: 500px;
  padding-top: 25px;
  overflow: hidden;
}
#bottom-text {
  color: white;
  margin-left: 25%;
  font-size: 32px;
  padding-top: 45px;
}
.icon {
    padding: 10px;
    padding-left: 50px;
}
.title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 15px;
    color: black;
}
.content {
    text-align: center;
    font-size: 14px;
}